{% extends 'layout.html' %}

{% block body %}

    <h3 style="text-align: center;margin-top: 25px;">Hakkımızda</h3>
    <hr>



    <div class="container jumbotron">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci aliquam aperiam asperiores assumenda atque commodi ducimus earum enim error exercitationem expedita explicabo facere fuga fugiat ipsum, molestias nobis non officia officiis omnis praesentium quaerat quidem sequi soluta. A, ab deleniti dolore dolores minus nihil reiciendis unde voluptas voluptate voluptatibus.
    </div>


{% endblock body %}