{% extends "layout.html" %}

{% block body %}
    <h3 style="margin-top: 25px; text-align: center">Kontrol Paneli</h3>
    <hr>
    <p>
        Hoşgelidiniz
        <small>{{ request.user.username }}</small>
    </p>
    <hr>
    <a style="margin-top: 25px; margin-bottom: 25px;" class="btn btn-dark" href="/articles/addarticle">Makale Ekle</a>

    <hr>
    
    {% if articles %}
        <table style="margin-top: 50px;" class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Başlık</th>
            <th scope="col">Yazar</th>
            <th scope="col">Tarih</th>
            <th scope="col">Güncelle</th>
            <th scope="col">Sil</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <th scope="row">{{ article.id }}</th>
                <td><a href="/articles/article/{{ article.id }}">{{ article.title }}</a></td>
                <td>{{ article.author }}</td>
                <td>{{ article.created_date }}</td>
                <td><a class="btn btn-warning" href="/articles/update/{{ article.id }}">Güncelle</a></td>
                <td><a class="btn btn-danger" href="/articles/delete/{{ article.id }}">Sil</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
        <div style="margin-top: 25px;" class="alert alert-info">
            Henüz Bir Makaleniz Bulunmuyor Unutmayın Bilgi Payleştıkça Çoğalır :)
        </div>
    {% endif %}
    

{% endblock %}





